{% load static %}
<!DOCTYPE html>
<html class="html_conn">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "account/css/css/main.css"%}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "global.css"%}'>
    <script src='main.js'></script>
</head>
<body>
    <div class="garde">
        <div>
            <a href="{% url 'accounts:register'%}">Créer un compte</a>
        </div>
        <div>
            <a href="#">sign in</a>
        </div>
    </div>
    <form action="" method="post">
        {%csrf_token%}
        <div class="boite">
            <img src="{% static 'assets/login.jpg' %}" alt="" srcset="">
            <div class="titre">
                <h1>Connexion</h1>
            </div>
            <div class=" champ">
                <label for="username">Nom d'utilisateur : </label><input type="text" name="username" id="">
                <label for="password">Mot de passe : </label><input type="password" name="password" id="">
            </div>
            <div class="">
                
                     <!-- message d'erreur en cas de faut compte -->
                    {% for message in messages %}
                        <span class="">
                            {{message}}
                        </span>
                        <a href="{% url 'accounts:pass_forgeted' %}" class="error">Mot de pass oublier</a>
                    {% endfor%}
                
               
            </div>
            <div>
                <button>Connexion</button>
            </div>
            
        </div>
    </form>
</body>
</html>