{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    {% include 'app/entet_pied/header.html'%}
    {{message}}
    <div class="gauache">
        <!-- nous allons ici afficher les iformation d'utilisateur -->
        {% include 'app/gauche.html' %}
    </div>
    <div class="actualite">
        <!-- Les actualité qui vont se defiler devant  -->
        {% include 'app/actualite.html' %}
    </div>
</body>
</html>